Lateetud.NServiceBus.Subscriber/Web References/com.renovo.test.aptest1/EM1_ASG_NOTE_UPDATE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="_EM1_ASG_NOTE_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Datos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_EM1_ASG_NOTE_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_EM1_ASG_NOTE_UPDATEResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="_EM1_ASG_NOTE_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:_EM1_ASG_NOTE_UPDATE" />
  </wsdl:message>
  <wsdl:message name="_EM1_ASG_NOTE_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:_EM1_ASG_NOTE_UPDATEResponse" />
  </wsdl:message>
  <wsdl:portType name="EM1_ASG_NOTE_UPDATESoap">
    <wsdl:operation name="_EM1_ASG_NOTE_UPDATE">
      <wsdl:input message="tns:_EM1_ASG_NOTE_UPDATESoapIn" />
      <wsdl:output message="tns:_EM1_ASG_NOTE_UPDATESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EM1_ASG_NOTE_UPDATESoap" type="tns:EM1_ASG_NOTE_UPDATESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_EM1_ASG_NOTE_UPDATE">
      <soap:operation soapAction="http://tempuri.org/_EM1_ASG_NOTE_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EM1_ASG_NOTE_UPDATESoap12" type="tns:EM1_ASG_NOTE_UPDATESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_EM1_ASG_NOTE_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/_EM1_ASG_NOTE_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EM1_ASG_NOTE_UPDATE">
    <wsdl:port name="EM1_ASG_NOTE_UPDATESoap" binding="tns:EM1_ASG_NOTE_UPDATESoap">
      <soap:address location="https://aptest.test.renovo.com/WS/EM1_ASG_NOTE_UPDATE.asmx" />
    </wsdl:port>
    <wsdl:port name="EM1_ASG_NOTE_UPDATESoap12" binding="tns:EM1_ASG_NOTE_UPDATESoap12">
      <soap12:address location="https://aptest.test.renovo.com/WS/EM1_ASG_NOTE_UPDATE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>