Lateetud.NServiceBus.Subscriber/Web References/com.renovo.test.aptest/RequestAssignment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="_RequestAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Datos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_RequestAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_RequestAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="_RequestAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:_RequestAssignment" />
  </wsdl:message>
  <wsdl:message name="_RequestAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:_RequestAssignmentResponse" />
  </wsdl:message>
  <wsdl:portType name="RequestAssignmentSoap">
    <wsdl:operation name="_RequestAssignment">
      <wsdl:input message="tns:_RequestAssignmentSoapIn" />
      <wsdl:output message="tns:_RequestAssignmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequestAssignmentSoap" type="tns:RequestAssignmentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_RequestAssignment">
      <soap:operation soapAction="http://tempuri.org/_RequestAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequestAssignmentSoap12" type="tns:RequestAssignmentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_RequestAssignment">
      <soap12:operation soapAction="http://tempuri.org/_RequestAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestAssignment">
    <wsdl:port name="RequestAssignmentSoap" binding="tns:RequestAssignmentSoap">
      <soap:address location="https://aptest.test.renovo.com/WS/RequestAssignment.asmx" />
    </wsdl:port>
    <wsdl:port name="RequestAssignmentSoap12" binding="tns:RequestAssignmentSoap12">
      <soap12:address location="https://aptest.test.renovo.com/WS/RequestAssignment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>